.container {width: 556px; height: 100%; overflow: hidden; margin: 0px auto;background: white;}
.udacity-logo {border-radius: 50%; border: 6px solid #F8981C; width: 60; height: 60px;}
.owner-name {font-family: "Times", sans-serif; font-size: 40px; color: #7b8385; text-align: right; margin: 5px 0px;}
.owner-slogan {font-family: "Times", sans-serif; font-size: 15px; color: #7b8385; text-align: right; margin: 5px 0px;}
.udacity-logo {float: left;}

.straight-line {background: #BCBBBB; width: 100%; height: 4px; margin: 15px 0px 20px;}

.big-picture {display: block; max-width: 100%}

.title {font-family: "Times", sans-serif; font-size: 20px; font-weight: bold; color: #BCBBBB; margin: 20px 10px 10px;}
.featured-work {float: left; width: 33.33%; margin: auto;}
.featured-work-face {text-align: center;}
.featured-work-name {font-family: "Times", sans-serif; font-size: 20px; color: #7b8385; text-align: center; margin: 5px 0px;}
.featured-work-link {font-family: "Times", sans-serif; font-size: 10px; color: #BCBBBB; text-align: center;}
a { text-decoration: none;}
a:visited {color: #BCBBBB;}
body {margin: 0px; background: #BCBBBB;}